@model myLiteBoxMVC.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные профиля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model=> model.Id)
    <div>
        <p>UserName: @Html.EditorFor(model => model.UserName, new { @class = "form-control" })</p>
    </div>
    <div>
        <p>Name: @Html.EditorFor(model => model.Name, new { @class = "form-control" })</p>
    </div>
    <div>
        <p>Departments: @Html.EditorFor(model => model.Departments, new { @class = "form-control" })</p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedRoleId, "Category", new { @class = "control-label col-md-2" })
        <div>
            @Html.DropDownListFor(model => model.SelectedRoleId, new SelectList(Model.roles, "Id", "Name"), "- Please Select -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedRoleId)
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </div>
</div>
}