@model myLiteBoxMVC.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Регистрация пользователя</h4>
    <hr />

    @Html.ValidationSummary(true, "")
   
    <div>
        <p>UserName: @Html.EditorFor(model => model.UserName, new { @class = "form-control" })</p>
    </div>
    <div>
        <p>Name: @Html.EditorFor(model => model.Name, new { @class = "form-control" })</p>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentId, "Отдел", new { @class = "control-label col-md-2" })
        <div>
            @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.departments, "Id", "Name"), "- Please Select -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedRoleId, "Роль", new { @class = "control-label col-md-2" })
        <div>
            @Html.DropDownListFor(model => model.SelectedRoleId, new SelectList(Model.roles, "Id", "Name"), "- Please Select -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedRoleId)
        </div>
    </div>
    <div>
        <p>Password: @Html.EditorFor(model => model.Password, new { @class = "form-control" })</p>
    </div>
    <div>
        <p>PasswordConfirm: @Html.EditorFor(model => model.PasswordConfirm, new { @class = "form-control" })</p>
    </div>
    <div>
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </div>
</div>
    }
