@model myLiteBoxMVC.Models.EditRoleModel

<h2>Редактирование роли</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)
        <p>Название:  @Html.EditorFor(model => model.Name, new { @class = "form-control" })</p>
        <p>Описание: @Html.EditorFor(model => model.Description, new { @class = "form-control"})</p>
        <p><input class="btn btn-primary " type="submit" value="Изменить" /></p>
    </div>
}